[submodule "dapp-example"]
	path = dapp-example
	url = git@github.com:prosopo-io/dapp-example.git
	branch = master
[submodule "provider"]
	path = provider
	url = git@github.com:prosopo-io/provider.git
	branch = master
[submodule "protocol"]
	path = protocol
	url = git@github.com:prosopo-io/protocol.git
    branch = master
[submodule "redspot"]
	path = redspot
	url = git@github.com:prosopo-io/redspot.git
    branch = master